<html>
<head>
  <link rel="stylesheet" type="text/css" href={{url_for('static', filename = 'style.css')}}>
</head>
<body id ='background'>
  <section>
  <header id = 'header'>
  <h1 id ='header1'>Catalog Application</h1>

  <form action="{{url_for('gdisconnect')}}" style="display: inline-block">
    <button type='submit'>logout</button>
  </form>
  <p>{{username}}</p>
  <img src="{{picture}}" style="width: 80px; height: 80px;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;"/>

  </header>

<div id ='container'>
<div class='catalog1'> <h1>Categories</h1>
  {% for i in categories %}
  <p>{{i.name}}</p>
  {% endfor %}
</div>
<div class='catalog2'><h1>Items</h1>
  {% for i in items %}
  <p>{{i.name}} ({{i.category.name}})</p>
  {% endfor %}
</div>
</div>
</section>
</body>
</html>
